*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    line-height: 1.5;
}

html {
    font-family:
        system-ui,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji';

    line-height: inherit;

    -webkit-text-size-adjust: 100%;
    /* 2. Prevent adjustments of font size after orientation changes in iOS. */
    tab-size: 4;
    /* 3. Use a more readable tab size (opinionated). */

    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/**
Add the correct font weight in Chrome and Safari.
*/

b,
strong {
    font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
    font-family:
        ui-monospace,
        SFMono-Regular,
        Consolas,
        'Liberation Mono',
        Menlo,
        monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
    font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/*
Tabular data
============
*/

/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
    border-color: currentcolor;
}

/*
Forms
=====
*/

/**
Change the font styles in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
    padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
    vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
    display: list-item;
}

/* body {
    background-color: Canvas;
    color: CanvasText;
    color-scheme: light dark;
} */

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*/*/
/* Start here !!!! */
/*/*/

@font-face {
    font-family: norse;
    src: url(Norse-Bold.otf);
}

body {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/*  */
/* LEFT */
/*  */

.left {
    background-image: url(halie-west.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;

    flex-shrink: 0;

    color: white;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 30%);

    position: relative;
    top: 20%;
}

.logo-container span {
    font-family: norse;
    font-size: 3rem;
}

.credits {
    align-self: center;

    position: relative;
    bottom: 5%;
}

.credits a {
    color: inherit;
}

/*  */
/* RIGHT */
/*  */

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 30px;

    background-color: #f9fafb;
}

.top {
    padding: 20px 10%;
}

.form {
    padding: 20px 10% 40px;
    /* border: 1px solid CanvasText; */
    box-shadow: 0 10px 10px rgb(0 0 0 / 0.1) ;

    background-color: white;
}

form {
    width: 800px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 20px;
}

button {
    background-color: #596D48;
    color: White;
    border: none;
    padding: 2px 30px;

    width: 200px;
    height: 40px;

    border-radius: 10px;
}

.login a {
    text-decoration: none;
    font-weight: bold;
    color: #596D48;
}

form div {
    display: flex;
    flex-direction: column;
}

.form>div:first-child {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

input {
    border: 1px solid #E5E7EB;
    height: 2em;
    border-radius: 5px;
}

.bottom {
    padding: 0 10%;
}